<%- include("header") -%> 
    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>

    <div class="box">
        <% newListItems.forEach(x => { %>
        <div class="item">
            <input type="checkbox">
            <p><%= x %></p>
        </div>
        <% }); %>

        <form class="item" action="/" method="post">
            <input type="text" name="newtodo" placeholder="Your new worry or task" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %> >+</button>
        </form>
    </div>
    <%- include("footer") -%>